@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
}

body {
  background-color: #233d4d;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  gap: 2em;
  color: white;
}

.hero-title {
  font-size: 4rem;
  width: 30rem;
  text-align: center;
}

.hero-title span {
  color: #fe7f2d;
}
.hero-text {
  font-size: 1.5rem;
  font-weight: 100;
}

.posts-button {
  background-color: #fe7f2d;
  color: white;
  padding: 0.75em 2.5em;
  border-radius: 100vh;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
  transition: 300ms ease-in-out;
  border: 0.125rem #fe7f2d solid;
}

.posts-button:hover {
  background-color: white;
  color: #fe7f2d;
}

.about-section {
  margin-top: 4em;
  padding: 0em 5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.sub-headings {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}

.body-text {
  font-size: 1rem;
  color: white;
  font-weight: 100;
}

.posts-section {
  margin: 4em 0em;
  padding: 0em 5em;
}

.posts-section .sub-headings {
  margin-bottom: 1em;
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

article {
  border-radius: 1rem;
  background-color: white;
  padding: 1.5em 3em;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.tags {
  display: flex;
  list-style-type: none;
  gap: 1em;
}
