---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Khair's Posts | About">
  <section class="about-section">
    <h2 class="sub-headings">About</h2>
    <p class="body-text">
      Welcome to "Khair's Posts"! Our website is your go-to destination for
      insightful and engaging blog content. Whether you're seeking inspiration,
      knowledge, or simply looking to explore different perspectives, we've got
      you covered. With a wide range of topics and expertly crafted articles,
      "Khair's Posts" aims to spark curiosity and foster meaningful discussions.
      Join our vibrant community of readers and writers, and embark on a journey
      of discovery through the power of words.
    </p>
  </section>
</Layout>
