---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Khair's Posts">
  <section class="hero-section">
    <h1 class="hero-title">Welcome to <span>Khair's Posts</span></h1>
    <h2 class="hero-text">
      Check out some of the posts from Khair Alanam on web development and more!
    </h2>
    <a href="/posts" class="posts-button">Click Here!</a>
  </section>
</Layout>
