---
const value = 0;
---

<>
  <h1>Khair's Posts</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/posts">Posts</a></li>
    </ul>
  </nav>
</>
